body {
    font-family:arial;
    margin:20px;

}

h1, h2, h3 {
    margin:0;
    padding:0;
}

.ui-widget {
    font-size:.85em;
}

h1 {
    text-align:center;
}

h1.page-title {
    margin:20px auto;
}

h2 {
    padding:10px 0 0 0;
}

#curve_chart {
    border:gray thin solid;
    /*width:1500px;*/
    width:100%;
    height:500px;
    margin:auto;
}

.wide-centered {
    border:greenyellow thin solid;
    /*width:1500px;*/
    width:100%;
    margin:auto;
    text-align:center;
}

#field-wrapper {
    display:inline-block;
}

#year-wrapper {
    display:inline-block;
    padding-left:20px;
}

#controls-wrapper {
    display:inline-block;
    padding-left:20px;
}

/* ----------------------- */

#download-table {
    border-collapse:collapse;
    width: 800px;
    margin:auto;
}

    #download-table td, th {
        border:black thin solid;

    }

    #download-table th {
        padding:5px;
        background-color:lightgrey;
        min-width:100px;
    }

    #download-table th.sortable {
        cursor:pointer;
    }

    #download-table th.sortable:hover {
        background:lightyellow;
    }

    #download-table td {
        text-align:center;
    }

    #download-table td.even {
        background:lightgrey;
    }

    #download-table td.number {
        padding:5px 40px 5px;
        text-align:right;
    }

    #download-table td.pid-link {
        padding:0px 10px 0px 10px;
        background:auto;
    }

#display-url {
    position:absolute;
    top:-50px;
    display:block;
    font-size:.85em;
    padding-top:5px;
    text-align:left;
    max-width:600px;
    height:25px;
    /* word-wrap:break-word; */
}

#menu {
    border-collapse:collapse;
    width:700px;
    margin:10px auto;
}

#menu td {
    padding:7px 20px;
    text-align:center;
    border:black solid thin;
}

#menu td.active {
    cursor:pointer;
}

#menu td.active:hover {
    background:lightyellow;
}

#menu td.current {
    font-weight:bold;
    /*color:grey;*/
}

.fooberry {
    text-align:center;
    display:inline-block;
}

#controls-wrapper label {
    display:block;
    font-size:.85em;
    padding-bottom:5px;
}